.App {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.main-container {
  background-color: rgb(58, 58, 58);
  padding: 3%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.header-container {
  min-height: 60px;
  width: 100%;
  background-color: black;
  color: rgb(149, 0, 255);
  text-align: center;
}

.header-text {
  margin: 0;
  padding-top: 10px;
  display: inline-block;
}

.header-cart-icon {
  position: absolute;
  top: 20px;
  right: 30px;
}

.MuiBadge-badge {
  background-color: indigo !important;
  color: white;
}

.MuiInputLabel-root {
  color: indigo !important;
}

.user-profile-menu {
  width: 200px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 60px;
}
