.App {
  margin: 0;
  padding: 0;
  width: 100%;
  color: white;
}

.main-container {
  background-color: rgb(29, 29, 29);

  background-image: url("https://www.transparenttextures.com/patterns/skulls.png");

  padding: 3%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

a {
  text-decoration: none;
}

a:-webkit-any-link {
  color: inherit;
}

button:hover {
  cursor: pointer;
}

.header-container {
  min-height: 70px;
  width: 100%;
  background-color: black;
  color: rgb(149, 0, 255);
  text-align: center;
}

.header-text {
  margin: 0;
  padding-top: 20px;
  display: inline-block;
  font-family: "Press Start 2P", cursive !important;
  font-size: 2rem;
}

.header-cart-icon {
  position: absolute;
  top: 20px;
  right: 25px;
}

.MuiBadge-badge {
  background-color: indigo !important;
  color: white;
}

.MuiFilledInput-root {
  background-color: rgb(80, 80, 80) !important;
  color: white !important;
}

.MuiInputLabel-root {
  color: white !important;
}

.MuiButton-root {
  background-color: indigo !important;
  font-family: inherit !important;
  border-radius: 5px !important;
}

.MuiButton-root:hover {
  filter: brightness(120%);
}

.user-profile-menu {
  position: absolute;
  top: 16px;
  right: 85px;
}

.nav-signin {
  position: absolute;
  top: 12px;
  right: 80px;
}

body {
  font-family: "Josefin Sans", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #4c4b4b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.user-name {
  margin-left: 5px;
  margin-top: 4px;
}
