.cart-main-container {
  background-color: black;
  border-radius: 20px;
  padding: 3% 5%;
}

.cart-item-container {
  height: 120px;
  border: 2px solid grey;
  border-radius: 10px;
  padding-top: 8px;
  margin-bottom: 18px;
}

.cart-item-image {
  height: 90px;
  width: 75px;
}

.cart-inner-container {
  padding: 40px 0;
}

.icon-button {
  position: absolute;
}
.quant-container {
  padding-top: 12px;
}

.cart-proceed-text {
  margin-bottom: 20px;
}

.cart-price-cont {
  padding-top: 13px;
}

@media only screen and (max-width: 900px) {
  .cart-item-container {
    height: 180px;
    margin-bottom: 28px;
  }
  .cart-main-container {
    padding: 10%;
  }
}
