.order-screen-container {
  background-color: black;
  border-radius: 20px;
  padding: 3% 5%;
}

.paid-tag {
  background-color: green !important;
  padding: 1% 1% 0.1% 1% !important;
  color: white !important;
}

.download-header-text {
  margin-bottom: 20px;
}

.summary-card-3 {
  background-color: rgb(77, 77, 77);
  border-radius: 20px;
  padding: 5% 4% 3% 4%;
  margin-bottom: 25px;
}

.download-address {
  margin-top: 10px;
  line-height: 22px;
  padding-bottom: 15px;
}
.note-text {
  padding-top: 20px;
}

@media only screen and (max-width: 900px) {
  .order-screen-container {
    padding: 10%;
    overflow: hidden;
  }
  .download-header-text {
    font-size: 1.2rem;
  }
  .summary-card-3 {
    width: 65vw;
    padding: 20%;
    margin-top: 30px;
  }
}
