.game-card {
  background-color: rgb(44, 47, 49);
  padding: 6%;
  padding-bottom: 2%;
  border-radius: 20px;
  max-width: 320px;
  border: 3px solid rgb(114, 0, 228);
  text-align: left;
  box-shadow: 8px 6px 8px 8px rgba(88, 0, 176, 0.459);
}

.game-card-zoom-container {
  transition: transform 0.25s ease-in-out;
}

.game-card-zoom-container:hover {
  transform: scale(1.03);
}

.add-to-cart-button {
  font-size: 0.8rem;
  width: 160px;
}

.card-item {
  text-overflow: ellipsis;
  overflow: hidden;
}

.card-item-1 {
  height: 34px;
}

.card-item-2 {
  height: 35px;
}

.card-item-3 {
  height: 35px;
}

.card-item-4 {
  height: 188px;
  overflow: auto;
}

.card-item-5 {
  height: 60px;
}

.bottom-item {
  margin-top: 2px !important;
}

.name-text {
  font-size: 1.75rem;
}

.dev-text {
  font-weight: 400;
}

.dow-text {
  margin-top: 5px;
  font-weight: 400;
}

.desc-text {
  font-weight: 400;
  line-height: 20px;
  font-size: 1rem;
}

.price-text {
  margin-top: 10px;
  font-size: 1rem;
}

.cart-text {
  margin-top: 4px;
  margin-right: 2px;
}

@media only screen and (max-width: 900px) {
  .game-card {
    max-width: 300px;
  }
  .dow-text {
    font-size: 0.9rem;
  }
  .price-text {
    font-size: 0.8rem;
  }
}
