.game-card {
  background-color: rgb(100, 100, 100);
  padding: 6%;
  border-radius: 20px;
  max-width: 200px;
  border: 4px solid rgb(114, 0, 228);
  text-align: left;
}

.right-float-container {
  float: right;
}

img {
  padding: 5% 0;
  display: block;
}
