.game-container {
  background-color: black;
  border-radius: 20px;
  padding: 3% 5%;
}

.game-item-main {
  height: 520px;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.game-item {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
}

.gamne-add-to-cart-button {
  padding: 1%;
  border-radius: 10px;
  background-color: #4b0082;
  color: white;
  font-size: 0.8rem;
}

.game-name {
  max-height: 80px;
}

.game-developer {
  max-height: 25px;
}

.game-rating {
  max-height: 85px;
  padding-top: 25px;
}

.game-category {
  padding-top: 25px;
  max-height: 60px;
}

.game-description {
  max-height: 200px;
  padding-top: 20px;
}

.game-price {
  max-height: 50px;
  padding-top: 20px;
}

.game-cart-button {
  max-height: 60px;
  padding-top: 20px;
}

.game-desc {
  font-size: 1.1rem;
}

@media only screen and (max-width: 900px) {
  .game-container {
    padding: 10%;
  }
}
