.header-container {
  min-height: 60px;
  width: 100%;
  background-color: black;
  color: rgb(149, 0, 255);
  text-align: center;
}

.header-text {
  margin: 0;
  padding-top: 10px;
  display: inline-block;
}

.header-cart-icon {
  position: absolute;
  top: 20px;
  right: 30px;
}
