.games-container {
  background-color: black;
  border-radius: 20px;
  padding: 2% 5% 5% 5%;
}

.games-header {
  text-align: center;
  margin-bottom: 20px;
  font-weight: 800;
  animation: colorchange 1s ease-in-out infinite alternate;
}

@keyframes colorchange {
  0% {
    color: #8a2be2;
  }

  100% {
    color: rgb(191, 0, 255);
  }
}

@media only screen and (max-width: 900px) {
  .games-container {
    background-color: black;
    border-radius: 20px;
    padding: 5% 10% 15% 10%;
  }
  .games-header {
    margin: 20px 0;
  }
}
