.loading-container {
  color: rgb(108, 0, 185);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 70px;
}

@media only screen and (max-width: 900px) {
  .loading-container {
    padding: 10%;
  }
}
