.orders-container {
  background-color: black;
  border-radius: 20px;
  padding: 3% 5%;
}

.order-history-item {
  border: 2px solid grey;
  border-radius: 10px;
  margin-top: 20px !important;
  padding-top: 4px;
  height: 65px;
}

.history-header {
  margin-bottom: 30px;
}

.history-alt-item {
  padding-top: 18px !important;
}

@media only screen and (max-width: 900px) {
  .orders-container {
    padding: 10%;
  }
  .order-history-item {
    margin-top: 20px !important;
    height: 160px;
  }
}
