.signup-form-container {
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  margin: auto;
  padding: 3% 0%;
  width: max-content;
}

@media only screen and (max-width: 900px) {
  .signup-form-container {
    padding: 10%;
    width: 60vw;
  }
}
