.profile-container {
  background-color: black;
  border-radius: 20px;
  padding: 3% 5%;
  margin: auto;
}

.profile-form-container {
  margin: auto;
}

@media only screen and (max-width: 900px) {
  .profile-container {
    padding: 10%;
  }
}
